/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");

:root {
	--clr-primary: #3744ff;
	--clr-white: #ffffff;
	--clr-black: #212121;
}

/* base style */
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;

	color: var(--clr-black);
	overflow-x: hidden;
}

a {
	display: inline-block;
	text-decoration: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

/* repeated style */
.container {
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
}

/* header style */
header {
	padding: 28px 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	background-color: var(--clr-white);
}

header .container {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: space-between;
}

header .left {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: flex-start;
}

header .left .logo img {
	height: 40px;
}

header .left .nav-desktop {
	display: flex;
	gap: 32px;

	display: none;
}

header .left .nav-desktop a {
	color: var(--clr-black);
	transition: .3s color;
}

header .left .nav-desktop a:hover {
	color: var(--clr-primary);
}

header .action {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: flex-end;
}

header .action a i {
	font-size: 18px;
	color: var(--clr-black);
}

@media screen and (min-width: 780px) {
	header .left .nav-desktop {
		display: flex;
	}
}

/* hamburger menu style */ 
.hamb {
	width: 32px;
	cursor: pointer;
}

.hamb span {
	display: block;
	height: 2px;
	background-color: var(--clr-black);
	transition-duration: .3s;
	transition-property: transform opacity;
}

.hamb span.mid {
	margin: 7px;
}

.hamb.active span.top {
	transform: translateY(9px) rotate(42deg);
}

.hamb.active span.mid {
	opacity: 0;;
}

.hamb.active span.bottom {
	transform: translateY(-9px) rotate(-42deg);
}

@media screen and (min-width: 780px) {
	.hamb {
		display: none;
	}
}